.gallery {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.svg {
  height: 200px;
  width: 200px;
}

.label {
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  line-height: var(--ifm-heading-line-height);
  font-size: var(--ifm-h4-font-size);
}
